@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);@font-face { font-family: 'Spoqa Han Sans Neo'; src:url(/web/easyweb/font/SpoqaHanSansNeo-Thin.otf)format('opentype'); font-weight : 200; unicode-range: U+0030-0039; } 
@font-face { font-family: 'Spoqa Han Sans Neo'; src:url(/web/easyweb/font/SpoqaHanSansNeo-Light.otf)format('opentype'); font-weight : 300; unicode-range: U+0030-0039; } 
@font-face { font-family: 'Spoqa Han Sans Neo'; src:url(/web/easyweb/font/SpoqaHanSansNeo-Medium.otf)format('opentype'); font-weight : 400; unicode-range: U+0030-0039; } 
@font-face { font-family: 'Spoqa Han Sans Neo'; src:url(/web/easyweb/font/SpoqaHanSansNeo-Regular.otf)format('opentype'); font-weight : 500; unicode-range: U+0030-0039; } 
@font-face { font-family: 'Spoqa Han Sans Neo'; src:url(/web/easyweb/font/SpoqaHanSansNeo-Bold.otf)format('opentype'); font-weight : 600; unicode-range: U+0030-0039; } 
* { padding: 0; margin: 0; box-sizing: border-box; } 
body { font-size:14px; min-width:unset; color:#000000; } 
li { list-style: none; } 
a { text-decoration: none; } 
a:hover { text-decoration:none; } 
.over480 { display: block; } 
@media all and (max-width:480px){
 .over480 { display: none; } 
 }
/*
cafe24 layout
*/
#wrap { width:100%; margin:0; min-width:unset; } 
#container { width:100%; min-width:unset; } 
#container::before,#container::after { display:none; } 
#contents { width:100%; float:unset; min-width:unset; } 
#contents::before,#contents::after { display:none; } 
#header { border-bottom:0px solid rgba(255,255,255,0) } 
#header::before { display:none; } 
#header::after { display:none; } 
#footer:before { display:none; } 
#footer:after { display:none; } 
#sidebar { display:none; } 
/* 
header
*/
#header { position: fixed; top: 0; left: 0; width: 100%; z-index:999; } 
.header--wrap { display: flex; justify-content: space-between; padding: 30px 60px; position: relative; } 
.header--wrap.black { background-color:#fff; box-shadow:0px 0px 8px rgba(0,0,0,0.1) } 
.header--wrap .w { display: flex; justify-content: center; } 
.header--sub-wrap { display: flex; flex-direction: column; justify-content: center; } 
.header--menu { font-size: 16px; font-weight:500; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); } 
.header--menu-mob { display:none; padding: 40px 40px; background-color: #fff; left: 0; box-shadow:0px 0px 8px rgba(0,0,0,0.1); top: 108px; } 
.header--wrap.white .header--menu-mob { background-color: rgba(0,0,0,0); } 
.header--menu-mob.on { display: none; } 
.header--menu a { margin: 0 20px; font-weight:600; letter-spacing:-1px; } 
.header--menu p { margin: 0 20px; font-weight:600; letter-spacing:-1px; } 
.header--menu a:first-child { margin-left:0 } 
.header--menu a:last-child { margin-right:0 } 
.header--menu div.lv2 { position:relative; } 
.header--menu div.lv2 .lv2wrap { position:absolute; left:50%; top:100%; transform:translate(-50%,0); width:100%; margin-top:12px; display:none; } 
.header--wrap.black .lv2wrap { background-color:#fff; box-shadow:0px 0px 8px rgba(0,0,0,0.1) } 
.header--wrap.white .lv2wrap { background-color:rgba(255,255,255,0); box-shadow:0px 0px 8px rgba(0,0,0,0) } 
.header--menu div.lv2 .lv2wrap.on { display:block; } 
.header--menu div.lv2 a { margin:2px 0; display:block; text-align:center; padding:6px 0; font-size:15px; } 
.header--logo .w a { display:flex; flex-direction:column; justify-content:center; } 
.header--menu-mob-sub { font-size:12px; } 
.header--wrap.white .header--menu-mob-sub { color:rgba(255,255,255,0.82); } 
.header--wrap.black .header--menu-mob-sub { color:#8b8b8b; } 
.header--user { font-size: 13px; display: flex; flex-direction: row; } 
.header--user a { align-items: center; display: flex; } 
.header--user-log { display: flex; margin-right:24px; } 
.header--user-log-mob { display: none; } 
.header--user-log-mob a { display: block; } 
.header--wrap.black .header--user-log-mob a { color: #8b8b8b; } 
.header--wrap.white .header--user-log-mob a { color: rgba(255,255,255,0.82); } 
.header--wrap.black .header--user-log a { color:#000000; } 
.header--wrap.white .header--user-log a { color:#dbdbdb; } 
.header--wrap.black .header--user-log span.spot { background-color:#000000; } 
.header--wrap.white .header--user-log span.spot { background-color:#dbdbdb; } 
.header--user-log span.spot { width: 3px; height: 3px; border-radius: 100%; display: block; margin: 0 8px; } 
.header-ham { display:none; width:22px; height:16px; position:absolute; transform:translate(0%,-50%); top:50%; cursor:pointer; } 
.header-ham span { display:block; width:22px; height:1px; position:absolute; } 
.header-ham span:nth-child(1) { top:0; left:0; } 
.header-ham span:nth-child(2) { top:100%; left:0; } 
.header-ham span:nth-child(3) { top:50%; left:0; } 
.header--wrap.white .header-ham span { background-color:#fff; } 
.header--wrap.black .header-ham span { background-color:#111111; } 

.header--wrap.white p,
.header--wrap.white a { color: #ffffff; } 
.header--wrap.white svg { fill:#ffffff; } 
.header--wrap.white span.spot { background-color: #ffffff; } 

.header--wrap.black p,
.header--wrap.black a { color: #000000; } 
.header--wrap.black svg { fill:#000000; } 
.header--wrap.black span.spot { background-color: #000000; } 
.header--wrap.black img.calendar-black { display:none; } 
.header--wrap.white img.calendar-white { display:none; } 

.header--wrap.white .header-on-black { display:block; } 
.header--wrap.white .header-on-white { display:none; } 
.header--wrap.black .header-on-black { display:none; } 
.header--wrap.black .header-on-white { display:block; } 

.header--logo img { width: 200px; } 
@media all and (max-width:1024px){
 .header--wrap { padding: 30px 40px; } 
 .header--menu { display:none; } 
 .header--menu-mob { position:absolute; font-size: 14px; transform: translate(0%,0%); } 
 .header--menu-mob.on { display: block; } 
 .header--menu-mob .w { flex-direction:column; } 
 .header--menu-mob .w a { margin:8px 0; } 
 .header--menu-mob .w p { margin:8px 0; } 
 .header--logo { margin-left:40px; } 
 .header--logo img { width: 120px; } 
 .header-ham { display:block; } 
 }
@media all and (max-width:767px){
 .header--menu-mob { padding: 60px 40px; } 
 }
@media all and (max-width:480px){
 .header--user-log { display: none; } 
 .header--user-log-mob { display: block; } 
 .header--wrap { padding: 30px 20px; } 
 }
/* 
footer
*/
#footer { position: relative; margin:0; border-top:0px solid rgba(255,255,255,0); border-bottom:0px solid rgba(255,255,255,0) } 
#footer::before { display:none; } 
#footer::after { display:none; } 
.footer--whole-wrap { background-color: #000000; } 
.footer--wrap { padding: 0 60px; } 
.footer--wrap p { color: #ffffff; } 
.footer--wrap1 { border-bottom: 1px solid #444444; } 
.footer--wrap2 { padding: 40px 60px 30px; } 
.footer--container { width: 100%; max-width: 1280px; margin: auto; display: flex; } 
.footer--container2 { flex-direction: column; } 

.footer--links,.footer--map { width: 50%; padding: 100px 96px 80px; } 
.footer--links { border-right: 1px solid #444444; padding-left: 0px; } 
.footer--map { padding-right: 0px; } 
.footer--map-image>img { width: 100%; } 
.footer--links-row1 { margin-bottom: 56px;} 
.footer--links-row1 .w { display: flex; } 
.footer--links-row1 .w2 { margin-right: 60px; display: flex; flex-direction: column; justify-content: center; } 
.footer--links-row1 .w3 { display: flex; } 
.footer--links-row1 .w2 .img { margin-right: 30px; } 
.footer--links-row1 .w2 .text1 { font-size: 18px; font-weight: 600; display: flex; flex-direction: column; justify-content: center; } 
.footer-links .text1,
.footer-links .img { display: flex; flex-direction: column; justify-content: center; } 
.footer--links-phoneNumber p { color: #ff7f30 !important; font-size: 28px; font-weight: 800; } 
.footer--links-time p { font-size: 15px; line-height: 0.9; word-break: keep-all; color: #cccccc !important; } 
.footer--links-time br.under { display: none; } 

.footer--links-row2 { margin-bottom: 52px; } 
.footer--links-row2 .w { display: flex; } 
.footer--links-row2 .w2 { margin-right: 60px; display: flex; flex-direction: column; justify-content: flex-start; } 
.footer--links-row2 .w3 { display: flex; } 
.footer--links-row2 .w2 .img { margin-right: 30px; } 
.footer--links-row2 .w2 .text1 { font-size: 18px; font-weight: 600; display: flex; flex-direction: column; justify-content: center; } 

.footer--links-row3 { font-size: 18px; font-weight: 600; } 

.footer--links-sns { margin-top: 26px; display: flex; } 
.footer--links-sns a { position: relative; width: 60px; height: 60px; border-radius: 100%; display: block; background-color: #333333; margin-right: 6px; transition-duration: 0.3s; transition-property: background-color; } 
.footer--links-sns a:hover { background-color: #ff7f30; } 
.footer--links-sns img { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); } 

.footer--map-welcome { font-size: 18px; font-weight: 600; margin-bottom: 14px; } 
.footer--map-image { margin-bottom: 14px; } 
.footer--map-address { display: flex; font-size: 15px; word-break: keep-all; align-items: center; } 
.footer--map-address p { color: #cccccc !important; letter-spacing: -1px; } 
.footer--map-address img { margin-right: 8px; width: 13px; height:16px; } 
/* footer-wrap2 */
.footer--public-links { display: flex; margin-bottom: 42px; } 
.footer--public-links span { width: 1px; height: 10px; background-color: #fff; display: block; margin: 3px 0; } 

.footer--public-links a { font-size: 16px; padding: 0 13px; color: #ffffff; line-height: 1; } 
.footer--public-links a:nth-child(1) { font-weight: 600; text-decoration: underline; padding: 0 13px 0 0; } 
.footer--public-links a:not(a:nth-child(1)) { color: #cccccc; } 
.footer--public-text { margin-bottom: 28px; display: flex; flex-wrap: wrap; width: 100%; max-width: 510px; line-height: 2; font-size: 13px; letter-spacing:-0.5px;}
.footer--public-text p { color: #8b8b8b; } 
.footer--public-text p b { font-weight: 400; color: #cccccc; } 
.footer--public-text span { width: 1px; height: 10px; background-color: #8b8b8b; display: block; margin: 8px 10px; } 

.footer--public-reserve p { font-size: 12px; } 
.footer--whole-wrap.black .footer--public-reserve p { color: #8b8b8b; } 
@media all and (max-width:1380px){
 .footer--links-time br.under { display: block; } 
 .footer--links-row1 .w2 { margin-right: 40px; } 
 .footer--links-row1 .w2 .img { margin-right: 22px; } 
 .footer--links-row2 .w2 { margin-right: 40px; } 
 .footer--links-row2 .w2 .img { margin-right: 22px; } 
 .footer--links-phoneNumber p { font-size: 25px; } 
 }
@media all and (max-width:1024px){
 .footer--links-row1 { margin-bottom: 40px; } 
 .footer--links-row1 .w { flex-direction: column; } 
 .footer--links-row1 .w3 { margin-bottom: 12px; } 
 .footer--links-row1 .w2 .img { margin-right: 14px; } 
 .footer--links-row2 .w { flex-direction: column; } 
 .footer--links-row2 .w3 { margin-bottom: 12px; } 
 .footer--links-row2 .w2 .img { margin-right: 14px; } 
 .footer--links-time p { line-height: 0.7; } 
 .footer--links,.footer--map { width: 50%; padding: 60px 60px 60px; } 
 .footer--links { border-right: 1px solid #444444; padding-left: 0px; } 
 .footer--map { padding-right: 0px; } 

 .footer--wrap { padding: 0 40px } 
 .footer--wrap2 { padding: 40px } 
 .footer--links-row1 .w2 { margin-right: 0px; } 
 .footer--links-row2 .w2 { margin-right: 0px; } 

 .footer--links-phoneNumber p { font-size: 20px; } 
 }
@media all and (max-width:767px){
 .footer--links-row1 { margin-bottom: 20px; } 
 .footer--container1 { display: block; padding: 40px 0; } 
 .footer--links,.footer--map { width: 100%; padding: 0; margin: 0; } 
 .footer--links { border-right: 0px solid rgba(0,0,0,0); margin-bottom: 60px; } 
 .footer--links-row1 .w { flex-direction: row; } 
 .footer--links-row1 .w2 { margin-right: 24px; } 
 .footer--links-row1 .w3 { margin-bottom: unset; } 
 .footer--links-row1 .w2 .img { display: flex; flex-direction: column; justify-content: flex-start; width: 18px; height: 18px; } 
 
 .footer--links-row2 .w { flex-direction: row; } 
 .footer--links-row2 .w2 { margin-right: 24px; } 
 .footer--links-row2 .w2 .img { display: flex; flex-direction: column; justify-content: flex-start; width: 18px; height: 18px; } 
 .footer--links-time p { line-height: 1; } 
 .footer--links-phoneNumber p { font-size: 22px; } 
 .footer--public-links a { font-size: 13px; } 
 }
@media all and (max-width:480px){
 .footer--links { margin-bottom: 52px; } 
 .footer--links-row1 .w2 .text1 { font-size: 16px; } 
 .footer--links-row2 .w2 .text1 { font-size: 16px; } 
 .footer--map-welcome { font-size: 16px; } 
 .footer--links-sns a { width: 48px; height: 48px; } 
 .footer--links-phoneNumber p { font-size: 18px; } 
 .footer--links-time p { font-size: 13px; } 
 .footer--public-links a { font-size: 12px; padding: 0 5px; line-height: 1; } 
 .footer--public-links a:nth-child(1) { padding: 0 5px 0 0; } 
 .footer--public-links span { margin: 1px 0; } 
 .footer--map-address { font-size: 12px; } 
 .footer--whole-wrap .footer--public-text p b { font-size: 12px; } 
 .footer--whole-wrap .footer--public-text p { font-size: 12px; margin-right: 4px; } 
 .footer--whole-wrap .footer--public-text span { display: none; } 
 .footer--wrap { padding: 0 20px } 
 .footer--wrap2 { padding: 20px } 
 }

/*
public layout
*/
.public--container { margin-top:130px; padding:0 60px; margin-bottom:180px; } 
.public-box { margin-top:240px; margin-bottom:180px; } 
.public-wrap { padding:0 60px; } 
@media all and (max-width:1024px){
 .public--container { margin-top:130px; padding:0 40px; margin-bottom:160px; } 
.public-wrap { padding:0 40px; } 
 }
@media all and (max-width:480px){
 .public--container { margin-top:130px; padding:0 20px; margin-bottom:120px; } 
.public-wrap { padding:0 20px; } 
 }