@import url("/web/easyweb/css/font.css");
*{font-family: 'AppleSD';}
.font2{font-family: 'Playfair Display', serif;}
::-webkit-scrollbar{display: none;}
/* 
 bg-container
*/
.bg-container{position: fixed;top: 0;width: 100%;height: 100%;}
.bg-container--wrap{position: relative;width: 100%;height: 100%;}
.bg-container--list{position: absolute;width: 100%;height: 100%;top: 50%;left: 50%;transform:translate(-50%,-50%);background-size: cover;background-position: center center;opacity: 0;}
.bg-container--list.active{opacity: 1;}
.bg-container--list1{background-image: url(/web/easyweb/image/main_bg1.png);}
.bg-container--list2{background-image: url(/web/easyweb/image/main_bg2.png);}
.bg-container--list3{background-image: url(/web/easyweb/image/main_bg3.png);}
.bg-container--list4{background-image: url(/web/easyweb/image/main_bg4.png);}
.main-container{position: relative;}

/* 
section 1
*/
.section1{width:100%;height:100vh;display: flex;flex-direction: column;justify-content: flex-end;}
.section1--contents{padding: 70px 60px;display: flex;justify-content: space-between;}
.section1--contents .w{display: flex;flex-direction: column;justify-content: flex-end;}

.section1--text{color: #ffffff;}
.section1--text p:nth-child(1){font-size: 16px;font-weight: 600;line-height: 1;margin-bottom: 20px;}
.section1--text p:nth-child(2){line-height: 1.66;}

.section1--slide-btn-wrap{display: flex;justify-content: flex-end;}
.section1--slide-button{width: 46px;height: 46px;border: 1px solid #ffffff;border-radius:100%;position: relative;cursor: pointer;transition-duration: 0.3s;}
.section1--slide-button span{transition-duration: 0.3s;}
.section1--slide-button span:nth-child(1){width: 20px;height: 2px;background-color: #fff;display: block;position: absolute;transform: translate(-50%,-50%);top: 50%;left: 50%;}
.section1--slide-right span:nth-child(2){width: 15px;height: 15px;;display: block;position: absolute;transform: translate(-50%,-50%) rotate(45deg);border-top: 1px solid #fff;border-right: 1px solid #fff;top: 50%;left: 50%;}
.section1--slide-left span:nth-child(2){width: 15px;height: 15px;;display: block;position: absolute;transform: translate(-50%,-50%) rotate(45deg);border-bottom: 1px solid #fff;border-left: 1px solid #fff;top: 50%;left: 50%;}
.section1--slide-left{margin-right: 8px;}
.section1--slide-button:hover{background-color: #fff;}
.section1--slide-button:hover span:nth-child(1){background-color: #000;}
.section1--slide-right:hover span:nth-child(2){border-top: 1px solid #000;border-right: 1px solid #000;}
.section1--slide-left:hover span:nth-child(2){border-bottom: 1px solid #000;border-left: 1px solid #000;}

.section1--slide-thumb-wrap{margin-top: 18px;width: 240px;height: 135px;position: relative;}
.section1--slide-thumb-list{width: 100%;height: 100%;position: absolute;background-size: cover;background-position: center center;opacity: 0;}
.section1--slide-thumb-list.active{opacity: 1;}
.section1--slide-thumb-list1{background-image: url(/web/easyweb/image/main_bg1.png);}
.section1--slide-thumb-list2{background-image: url(/web/easyweb/image/main_bg2.png);}
.section1--slide-thumb-list3{background-image: url(/web/easyweb/image/main_bg3.png);}
.section1--slide-thumb-list4{background-image: url(/web/easyweb/image/main_bg4.png);}
/*
section 2
*/
.section2{width:100%;}
.section2--wrapper{padding: 0 60px;}
.section2--container{width: 100%;max-width: 1280px;padding: 300px 0;margin: auto;position: relative;}
.section2--text-wrap{width: calc(83% - 20px);color: #ffffff;}
.section2--text-wrap p:not(.section2--small){font-size: 120px;line-height: 1.2;font-weight: 600;}

.section2--text-wrap .section2--small{font-size: 14px;}
.section2--text-row{display: flex;}
.section2--text-row1{justify-content: center;}
.section2--text-row2{justify-content: flex-end;}
.section2--text-row3{justify-content: flex-end;}
.section2--text-row2 p:not(.section2--small){-webkit-text-stroke-width: 1px;-webkit-text-stroke-color: white;color: rgba(255,255,255,0);margin-right: 80px;}
.section2--small-text{display: flex;flex-direction: column;justify-content: center;line-height: 1.66;}

.section2--circle-wrap{max-width: 17%;position: absolute;right: 0;top: 50%;}
.section2--circle-wrap img{width: 100%;}
.section2--circle-arrow{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.section2--circle-arrow span{display: block;position: absolute;top: 50%;left: 50%;}
.section2--circle-arrow span:nth-child(1){width: 3px;height: 50px;background-color: #fff;transform: translate(-50%,-50%);}
.section2--circle-arrow span:nth-child(2){width: 24px;height: 24px;border-bottom: 3px solid #ffffff;border-right: 3px solid #ffffff;transform: translate(-50%,0) rotate(45deg);}
/*
section2 scroll animation 
*/
.section2--text-wrap .section2--text-row1 p{opacity: 0;transform: translate(20px,0); }
.section2--text-wrap .section2--text-row2 p{opacity: 0;transform: translate(-20px,0);}
.section2--text-wrap .section2--text-row3 p{opacity: 0;transform: translate(20px,0); }
.section2--text-wrap.on-view .section2--text-row1 p{opacity: 1;transform: translate(0,0);transition-duration: 0.6s;transition-delay: 0.1s;}
.section2--text-wrap.on-view .section2--text-row2 p{opacity: 1;transform: translate(0,0);transition-duration: 0.6s;transition-delay: 0.3s;}
.section2--text-wrap.on-view .section2--text-row3 p{opacity: 1;transform: translate(0,0);transition-duration: 0.6s;transition-delay: 0.5s;}

.section2--circle-wrap{opacity: 0;}
.on-view.section2--circle-wrap{opacity: 1;transition-duration: 1s;transition-delay: 0s;}
/* 
section3
*/
.section3{background-color: #fff;overflow: hidden;}
.section3--wrap{display: flex;justify-content: flex-end;position: relative;}
.section3--container{width: 100%;max-width: 1660px;padding-left: 60px;height:100vh;}
.section3--bg{position: absolute;width: 100%;height: 100%;pointer-events: none;}

.section3--contents{display: flex;justify-content: space-between;width: 100%;}

.section3--text{padding-top: 287px;}
.section3--text>p:nth-child(1){font-size: 20px;font-weight: 600;margin-bottom: 18px;}
.section3--text>p:nth-child(2){font-size: 48px;font-weight: 500;margin-bottom: 24px;line-height: 1.2;}
.section3--text>p:nth-child(3){font-size: 16px;margin-bottom: 56px;color: #8b8b8b;line-height: 1.66;}

.section3--view-detail{padding-bottom: 20px;}
.section3--view-detail a{display: flex;}
.section3--view-detail-arrow{margin-right: 15px;width: 48px;height: 48px;border-radius: 50%;background-color: #000000;position: relative;border: 1px solid #000;transition-duration: 0.3s;}
.section3--view-detail-arrow span{position: absolute;top: 50%;left: 50%;display: block;transition-duration: 0.3s;}
.section3--view-detail-arrow span:nth-child(1){width: 20px;height: 2px;background-color: #ffffff;transform: translate(-50%,-50%);}
.section3--view-detail-arrow span:nth-child(2){width: 10px;height: 10px;transform: translate(0%,-50%) rotate(45deg);border-top: 2px solid #ffffff;border-right: 2px solid #ffffff;}
.section3--view-detail-arrow:hover{background-color: #fff;}
.section3--view-detail-arrow:hover span:nth-child(1){background-color: #000000;}
.section3--view-detail-arrow:hover span:nth-child(2){border-top: 2px solid #000000;border-right: 2px solid #000000;}

.section3--view-detail-text{display: flex;flex-direction: column;justify-content: center;font-size: 16px;font-weight: 600;}

.section3--swiper{max-width: 1167px;width: 70%;margin: unset;padding-top: 160px;display: flex;flex-direction: column;}
.section3--swiper .swiper-slide{height: 500px;border: 1px solid #000;width: 414px;}
.section3 .dummy-slide{opacity: 0;pointer-events: none;}
.section3 .swiper-scrollbar-drag{background-color: #000000;height: 3px;}
.section3 .swiper-scrollbar{margin-top:60px;background-color: rgba(255,255,255,0);position: static;width: 100%;}
.section3 .swiper-pagination{position: static;text-align: unset;color: #8b8b8b;display: flex;justify-content: flex-start;line-height: 1.6;}
.section3 .swiper-pagination-current{font-size: 20px;color: #000000;margin-right: 12px;line-height: 1;}
.section3 .swiper-pagination-total{font-size: 14px;margin-left: 12px;}
/* 
section4
*/
.section4{position:relative;background-color: #fff;color: #ffffff;}
.section4--bg{width: 100%;height:100%;max-height: 660px;background-image: url(/web/easyweb/image/main_s4bg.png);background-size: cover;background-position: center center;position: absolute;top: 0;left:0;}
.section4--wrap{padding: 0 60px;position: relative;}
.section4--container{width: 100%;max-width: 1280px;margin: auto;padding: 160px 0;}
.section4-text{text-align: center;}
.section4-text p:nth-child(1){font-size: 20px;font-weight: 600;margin-bottom: 28px;}
.section4-text p:nth-child(2){font-size: 48px;font-weight: 500;line-height: 1;}
.section4--matterport a{position: relative;display: block;width: 100%;margin-top: 60px;}
.section4--matterport-text{display: flex;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.section4--matterport-text p{font-size: 14px;color: #ffffff;line-height: 1;margin: auto;}
.section4--matterport-text span.line{margin: auto 14px;height: 1px;width: 60px;display: block;background-color: #fff;}
.section4--matterport-play{width: 48px;height: 48px;border-radius: 100%;position: relative;background-color: #fff;}
.section4--matterport-play .playIcon-box{width: 10px;height: 10px;overflow: hidden;position: absolute;top: 50%;left: 50%;transform: translate(-25%,-50%);}
.section4--matterport-play .playIcon-box span{width: 10px;height: 10px;transform: translate(-50%,0) rotate(45deg);display: block;background-color: #000;}

/* 
section5
*/
.section5{background-color: #fff;}
.section5--wrap{padding: 0 60px;}
.section5--container{width: 100%;max-width: 1280px;margin: auto;}
.section5--news-head{border-bottom: 3px solid #000;display: flex;justify-content: space-between;padding-bottom: 24px;}
.section5--news-head>p:nth-child(1){font-size: 32px;}
.section5--news-head a{display: flex;color: #000000;}
.section5--news-head a .w{display: flex;flex-direction: column;justify-content: flex-end;}
.section5--news-head a p{line-height: 0.8;}
.section5 .plus-icon{width: 10px;height: 10px;position: relative;margin-left: 8px;margin-bottom: 2px;}
.section5 .plus-icon span{display: block;position: absolute;top: 50%;left: 50%;width: 1px;height: 10px;background-color: #000000;}
.section5 .plus-icon span:nth-child(1){transform: translate(-50%,-50%);}
.section5 .plus-icon span:nth-child(2){transform: translate(-50%,-50%) rotate(90deg);}

.section5--news-list a{display: flex;padding: 28px 20px; color: #000000;}

.section5--news-num{text-align: center;margin-right: 58px;}
.section5--news-date{margin-bottom: 14px;color: #8b8b8b;}
.section5--news-order{font-size: 28px;font-weight: 700;}

.section5--news-circle{width: 48px;height: 48px;border-radius: 100%;border: 1px solid #000;position: relative;transition-duration: 0.3s;}
.section5--news-circle span{position: absolute;top: 50%;left: 50%;transition-duration: 0.3s;}
.section5--news-circle span:nth-child(1){width: 20px;height: 2px;background-color: #000000;transform: translate(-50%,-50%);}
.section5--news-circle span:nth-child(2){width: 10px;height: 10px;border-top: 1px solid #000;border-right: 1px solid #000;transform: translate(0%,-50%) rotate(45deg);}

